---
# Configure formatting options for this project.
# (disable formatting project-wide by setting the `DisableFormat` option to `true`)
# (disable formatting on individual lines by adding the trailing comment `// no-format`; see `CommentPragmas`)
# For more information, see https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# --------------- MAIN OPTIONS --------------- #

# Language
Language:                                       Cpp
Standard:                                       Latest
BasedOnStyle:                                   LLVM

# General
DisableFormat:                                  false
CommentPragmas:                                 '^ no-format'
#   Columns
ColumnLimit:                                    80
IndentWidth:                                    4
UseTab:                                         Never
ContinuationIndentWidth:                        4
#   Lines
KeepEmptyLinesAtTheStartOfBlocks:               false
MaxEmptyLinesToKeep:                            1
DeriveLineEnding:                               true
#LineEnding:                                    CRLF  # Doesn't work in Visual Studio, for some reason
#   Syntax
InsertBraces:                                   true
InsertTrailingCommas:                           None
SpaceInEmptyBlock:                              false
SpacesInParentheses:                            false
SpacesInSquareBrackets:                         false
SpaceAfterLogicalNot:                           false
SpaceBeforeAssignmentOperators:                 true

# Alignment
AlignAfterOpenBracket:                          Align
AlignConsecutiveAssignments:                    false
AlignConsecutiveBitFields:                      false
AlignConsecutiveDeclarations:                   false
AlignConsecutiveMacros:                         AcrossEmptyLines
AlignEscapedNewlines:                           Right
AlignOperands:                                  AlignAfterOperator

# Line Breaking
AlwaysBreakAfterReturnType:                     None
AlwaysBreakBeforeMultilineStrings:              false
BreakBeforeBinaryOperators:                     NonAssignment
BreakBeforeBraces:                              Attach
BreakBeforeTernaryOperators:                    true
BreakInheritanceList:                           AfterComma

# Braces
BraceWrapping:
  AfterCaseLabel:                               false
  AfterClass:                                   false
  AfterControlStatement:                        true
  AfterEnum:                                    false
  AfterFunction:                                false
  AfterNamespace:                               false
  AfterObjCDeclaration:                         false
  AfterStruct:                                  false
  AfterUnion:                                   false
  AfterExternBlock:                             false
  BeforeCatch:                                  false
  BeforeElse:                                   false
  IndentBraces:                                 false
  SplitEmptyFunction:                           false
  SplitEmptyRecord:                             false
  SplitEmptyNamespace:                          false
  BeforeLambdaBody:                             false
  BeforeWhile:                                  false

# --------------- START-OF-FILE --------------- #

# Preprocessor Directives
IndentPPDirectives:                             AfterHash
PPIndentWidth:                                  1

# Includes
IncludeBlocks:                                  Preserve
SortIncludes:                                   CaseInsensitive

# Extern
IndentExternBlock:                              Indent

# Using
SortUsingDeclarations:                          true

# Namespaces
CompactNamespaces:                              false
NamespaceIndentation:                           None
ShortNamespaceLines:                            0
FixNamespaceComments:                           true

# --------------- OBJECTS --------------- #

# Classes
#   General
BreakBeforeInheritanceComma:                    false
SpaceBeforeInheritanceColon:                    true
SeparateDefinitionBlocks:                       Always
#   Access modifiers
AccessModifierOffset:                           -2
EmptyLineAfterAccessModifier:                   Leave
EmptyLineBeforeAccessModifier:                  Leave
IndentAccessModifiers:                          false
#   Constructors
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:              4
SpaceBeforeCtorInitializerColon:                true
BreakConstructorInitializers:                   AfterColon
PackConstructorInitializers:                    BinPack

# Structs and Enums
AllowShortEnumsOnASingleLine:                   false

# Templates and Concepts
#   General
AlwaysBreakTemplateDeclarations:                Yes
SpaceAfterTemplateKeyword:                      false
#   Requires
RequiresClausePosition:                         OwnLine
IndentRequires:                                 true
#   Concepts
BreakBeforeConceptDeclarations:                 true

# ---------- VARIABLES AND OPERATORS ---------- #

# Pointers, References, and Qualifiers
DerivePointerAlignment:                         false
PointerAlignment:                               Left
QualifierAlignment:                             Left
SpaceAroundPointerQualifiers:                   Default

# Casts
SpaceAfterCStyleCast:                           false
SpacesInAngles:                                 false
SpacesInCStyleCastParentheses:                  false

# Literals
BitFieldColonSpacing:                           Both
BreakStringLiterals:                            true
SpacesInContainerLiterals:                      false

# C++11 Lists
Cpp11BracedListStyle:                           true
SpaceBeforeCpp11BracedList:                     true

# --------------- CODE AND LOGIC --------------- #

# Functions
#   General
AllowShortFunctionsOnASingleLine:               Empty
IndentWrappedFunctionNames:                     false
SpaceInEmptyParentheses:                        false
#   Args/Params
AllowAllArgumentsOnNextLine:                    false
AllowAllConstructorInitializersOnNextLine:      true
AllowAllParametersOfDeclarationOnNextLine:      false
BinPackArguments:                               true
BinPackParameters:                              true

# Loops
AllowShortBlocksOnASingleLine:                  Empty
AllowShortLoopsOnASingleLine:                   false
SpaceBeforeRangeBasedForLoopColon:              true
SpaceBeforeSquareBrackets:                      true

# Conditionals
AllowShortIfStatementsOnASingleLine:            Never
SpaceBeforeParens:                              ControlStatements
SpacesInConditionalStatement:                   false

# Switch/Case
AllowShortCaseLabelsOnASingleLine:              false
IndentCaseBlocks:                               true
IndentCaseLabels:                               true
SpaceBeforeCaseColon:                           false

# Goto
IndentGotoLabels:                               false

# Lambdas
AllowShortLambdasOnASingleLine:                 All
LambdaBodyIndentation:                          Signature

# --------------- COMMENTS --------------- #

# Comments
ReflowComments:                                 true
SpacesBeforeTrailingComments:                   2
SpacesInLineCommentPrefix:
  Minimum:                                      1
  Maximum:                                      -1
AlignTrailingComments:                          false
